.container {
  width: 1200px;
  margin: auto;
}

.content {
  width: 90%;
  margin: auto;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ec5a3c;

  padding: 15px;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav li {
  margin-left: 5em;
  /*flex: 1;*/
}

a {
  color: #ec5a3c;
  text-decoration: underline;
}

.main-nav a {
  color: #fceacc;
  font-weight: bold;
  text-decoration: underline;
}

#inactive-button {
  display: none;
}

#inactive-link {
  visibility: hidden;
}

.active-link {
  visibility: visible;
}

/*#login-button {*/
/*    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*    background: none;*/
/*    border: none;*/
/*    text-decoration: underline;*/
/*    color: #fceacc;*/
/*    font-size: 1em;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*}*/